{% extends 'base.html' %}

{% block content %}
<div class="about-container">
    <div class="about-details">
        <p><strong>Author:</strong> Alibekov Aslan</p>
        <p><strong>Social Media:</strong></p>
        <ul class="social-media">
            <li><a href="https://t.me/alibekov_05" target="_blank">Telegram</a></li>
            <li><a href="https://vk.com/alibekov_05" target="_blank">VK</a></li>
        </ul>
        <p><strong>Description:</strong> This is a ToDo application built with Python and Flask. It allows users to
            create, view, update, and delete tasks.</p>
    </div>
</div>
{% endblock %}